/*widget layout css*/
.wr-clear { 
	float:none;
	clear:both;
	}

/**
	WOW Recruit Widget Layout Stylesheet

	Use the CSS rules below to modify the look of your widget.

	To create additional rules, use the markup below as a guide to WOW Recruit Widget's Layout architecture.
	
	<div class="wow-recruit-widget">
		<div class="wr-container">
			<div class="wr-item wr-odd">
				<div class="wr-left">
					<img class="wr-icon" src="images/class-shaman.png" />
				</div>
				<div class="wr-right">
					<div class="wr-class-text wr-shaman">
						Shaman
					</div>
					<div class="wr-status wr-high">
						High
					</div>
					<div class="wr-note">
						Note: Enhancement
					</div>
				</div>
			</div>
			<div class="wr-item wr-even">
				<div class="wr-left">
					<img class="wr-icon" src="images/class-shaman.png" />
				</div>
				<div class="wr-right">
					<div class="wr-class-text wr-shaman">
						Shaman
					</div>
					<div class="wr-status wr-medium">
						Medium
					</div>
					<div class="wr-note">
						Note: Restoration
					</div>
				</div>
			</div>
		</div>
	<div>
 */
 
 /*widget font settings*/
.wow-recruit-widget {
	font-size:11px; 
	font-family:verdana,arial,sans-serif; 
	font-weight:bold;
	width:100%;
	background:#000;
	
	}
.wr-container {}
.wr-item {
	display:block;
	float:left;
	width:175px;
	height:30px;
	padding:5px;
	}
.wr-odd {}
.wr-even {}
.wr-left {
	display:block;
	float: left;
	width: 25px;
	height: 30px;
	text-align:center;
	}
.wr-right {
	display:block;
	float:left;
	height:30px;
	width:145px;
	}


.wr-class-text {
	display:block;
	float:left;
	margin-left:5px;
	height:15px;
	line-height:15px;
	width:80px;
	}
.wr-status {
	display:block;
	float:left;
	margin-left:5px;
	height:15px;
	line-height:15px;
	width:55px;
	}
.wr-note { 
	display:block;
	font-weight:normal;
	font-style:italic; 
	color:#cee683;
	line-height:15px;
	height:15px;
	margin-left:5px;
	width:85%;
	}

