.wow-recruit-table table
{
	border:0;
	padding:0;
	width:100%;
	text-align:left;
}
.wow-recruit-table td,th
{
	vertical-align:middle;
}

.wow-recruit-clear { float:none;clear:both}
.wow-recruit-icon { height: 25px; float:left; margin-right: 5px;}
.wow-recruit-note { font-weight:normal;font-style:italic; color:#cee683;}
.wow-recruit-row {padding:5px;}


/*font settings*/
#wow-recruit-widget {font-size:11px; font-family:verdana,arial,sans-serif; font-weight:bold;}

/*status colors*/
.wow-recruit-status-High {color:green;}
.wow-recruit-status-Medium {color:yellow;}
.wow-recruit-status-Low {color:orange;}
.wow-recruit-status-Closed {color:red;}

/*class colors, currently using wowprogress.com colors*/
.wow-recruit-deathknight { color: #C41F3B }
.wow-recruit-druid { color: #FF7D0A }
.wow-recruit-hunter { color: #ABD473 }
.wow-recruit-mage { color: #69CCF0 }
.wow-recruit-paladin { color: #F58CBA }
.wow-recruit-priest { color: #FFFFFF }
.wow-recruit-rogue { color: #FFF569 }
.wow-recruit-shaman { color: #2459FF }
.wow-recruit-warlock { color: #9482CA }
.wow-recruit-warrior { color: #C79C6E }
